
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(12, 1fr);
    
    border: 5px solid black;
    
    gap: 5px;
    width: 1140px;
    margin: 0 auto;
    height: 96vh;
    background-color: #fff;
    color: #444;
    justify-content: space-around;
    
}

.block {
    text-align: center;
    font-size: 24px;
    background-color: #444;
    color: #fff;
    
   
}

.block1 {
    grid-column: span 4;
    grid-row: 1 / 3;
    text-align: center;
    
    
    
}

.block2 {
    grid-column: 1 / 3;
    grid-row: 3 / 6;
    margin-left: 40px;
}

.block3 {
    grid-column: 3 / 5;
    grid-row: 3 / 6;
    margin-right: 40px;
}

.block4 {
    grid-column: 1 / 3;
    grid-row: 6 / 8;
}

.block5 {
    grid-column: 3 / 5;
    grid-row: 6 / 8;
    
}

.block6 { 
    grid-column: 1;
    grid-row: 8;
}

.block7 {
    grid-column: 2 / 5;
    grid-row: 8;
}

.block8 {
    grid-column: 1 / 5;
    grid-row: 9;
    margin: 0 30px
}

.block9 {
    grid-column: 1 / 3;
    grid-row: 10 / 12;
}

.block10 {
    grid-row: 10 / 12;
    grid-column: 3 / 4;
}
.block11 {
    grid-column: 4 / 5;
    grid-row: 10 / 12;
}

.block12 {
   grid-row: 12;
   grid-column: 1 / 5;
    
}


@media screen and (max-width: 600px) {
      

  
    .container {
        width: auto;
        height: 960px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(24, 1fr);
        margin: 0 auto;
        border: 5px solid black;

}

.block {
    width: 100%;
    height: auto;
}

.block1 {
    grid-column: 1;
    grid-row: 1 / 8;
    text-align: center;
    
}

.block2 {
    grid-column: 1;
    grid-row: 8 / 12;
    margin: auto;
     
}

.block3 {
    grid-column: 1;
    grid-row: 12 / 16;
    margin: auto;
   
}

.block4 {
    grid-row: 16 / 18;
    grid-column: 1;
}

.block5 {
    grid-row: 18 / 20;
}

.block5,
.block6,
.block7,
.block8,
.block9,
.block10,
.block11,
.block12 {
    grid-column: 1;
}



.block6,
.block7,
.block8,
.block9,
.block10,
.block11
 {

overflow: hidden;
}

.block12 {
    grid-row: 22 / 24;
}
}